/* * * * * * * * * * * * * * * * * * * */
/* * * * * TABLE OF CONTENTS * * * * * */
/* * * * * * * * * * * * * * * * * * * */
/*
- 01. GLOBAL STYLES (MOBILE FIRST)
  - 1a Containers & Sections
  - 1b Screen Fills and Top Bar
  - 1c Fade-in Elements

- 02. TYPOGRAPHY
  - 2a Body Text
  - 2b Headings
  - 2c Navigation & Links

- 03. ICONS & IMAGES

- 04. HOMEPAGE
  - 4a Title
  - 4b About
  - 4c Testimonials
  - 4d Portfolio
  - 4e Skills
  - 4f Experience

- 05. PROJECT PAGES

- 06. MEDIA BREAKPOINTS
  - 6a Small devices (landscape phones, 576px and up)
  - 6b Medium devices (tablets, 768px and up)
  - 6c Large devices (desktops, 992px and up)
  - 6d Extra large devices (large desktops, 1200px and up)
*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * 01. GLOBAL STYLES (MOBILE FIRST) * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * */
/* 1a CONTAINERS & SECTIONS */
.container {
  padding-left: 2.1rem;
  padding-right: 2.1rem;
}

.footer-section {
  background-color: #F2EFEA;
}

.footer-section .xs-heading,
.footer-section a {
  color: #848889;
}



/* 1b SCREEN FILLS & TOP BAR */
.fill {
  height: 100vh;
}

.fill-80 {
  min-height: 70vh;
}

.fill-20 {
  min-height: 28vh;
}

.top-bar {
  height: 10px;
  width: 100%;
  background-color: #3CC6BD;
}

/* 1c FADE-IN ELEMENTS */
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  vertical-align: middle;
}

.load {
  opacity: 1;
}

/* * * * * * * * * * * * * * * * * */
/* * * * * 02. TYPOGRAPHY * * * * */
/* * * * * * * * * * * * * * * * * */
/* 2a BODY TEXT */
html, body {
  font-size: 14px;
}

body {
  color: #242B33;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  margin: 1rem 0;
}

a {
  color: #242B33;
  padding-bottom: 1px;
  border-bottom: 1px solid #f75940;
}

a:hover {
  color: #f75940;
  text-decoration: none;
}

hr {
  border-style: none;
  height: 1px;
  background-color: #B2B9BA;
  width: 75%;
  margin: 0 auto;
}

.divider {
  height: 3px;
  width: 25%;
  background-color: #f75940;
  margin: 2rem 0;
}

/* 2b HEADINGS */
h1, h3 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2.1rem;
}

h2, h4, h5, h6 {
  font-family: "Source Code Pro", Courier, monospace;
  font-weight: 400;
  line-height: 135%;
}

h5 {
  font-size: 1.2rem;
}

.xl-heading {
  font-size: 3rem;
}

.xs-heading {
  font-size: 0.7rem;
  color: #B2B9BA;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.color-heading {
  color: #3CC6BD;
}

/* 2c NAVIGATION */
.navbar {
  padding: 0px;
  text-align: right;
  color: #B2B9BA;
}

.navbar-collapse {
  border-right: 1px solid #B2B9BA;
}

.home-page .navbar {
  text-align: center;
}

.home-page .navbar-collapse {
  border-right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #242B33;
  font-family: "Source Code Pro", Courier, monospace;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 1px;
  border-bottom: none;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: #3CC6BD;
  border-bottom: 0;
}

.navbar-brand {
  border-bottom: none;
}

.navbar-brand img {
  max-height: 55px;
}

.navbar-light .navbar-toggler {
  color: #B2B9BA;
  border-color: #B2B9BA;
}

/* * * * * * * * * * * * * * * * * * * */
/* * * * * 03. ICONS & IMAGES * * * * */
/* * * * * * * * * * * * * * * * * * * */
.img-full-width {
  width: 100%;
}

.img-full-height {
  height: 100%;
}

.ee-logo {
  width: 100px;
  height: 100px;
}

.social-icons {
  margin: 1rem 0 4rem;
}

.social-icons .fab,
.social-icons .fas {
  color: #3cc6bd;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #3cc6bd;
  margin: 0 0.5rem;
}

.social-icons a,
.testimonial-section a {
  padding-bottom: 0;
  border-bottom: 0;
}

.social-icons a:hover .fab,
.social-icons a:hover .fas {
  color: #F75940;
  border: 2px solid #F75940;
}

/* Make LinkedIn logo same proportions as other icons */
.fa-linkedin-in:before {
  padding: 0 1px;
}

/* * * * * * * * * * * * * * * * */
/* * * * * 04. HOMEPAGE * * * * */
/* * * * * * * * * * * * * * * * */
/* 4a TITLE */
.title-section {
  background-color: #F2EFEA;
}

/* 4b ABOUT */
.about-section {
  text-align: center;
}

/* 4c TESTIMONIALS */
.testimonial-section,
.skills-section {
  background-color: #3cc6bd;
}

.testimonial-section .container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.testimonial-quote {
  display: block;
  font-size: 4rem;
  color: #242B33;
}

.carousel-inner {
  padding: 0 3rem;
}

.carousel-control-next,
.carousel-control-prev {
  width: initial;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300958d' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300958d' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

/* 4d PORTFOLIO */
.grid {
  margin: -10px;
}

.grid-sizer,
.grid-item {
  width: 100%;
}

a.portfolio-img {
  border-bottom: none;
  padding-bottom: 0;
  display: block;
  color: #FFFFFF;
}

.portfolio-img {
  background-color: #3CC6BD;
  position: relative;
  margin: 10px;
  max-height: 300px;
  overflow: hidden;
}

.portfolio-img h2 {
  background-color: #3CC6BD;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  z-index: 100;
}

.portfolio-img:hover h2 {
  display: block;
}

.portfolio-img img {
  opacity: 1;
  width: 100%;
}

.portfolio-img:hover img {
  opacity: 0;
}

.ee-portfolio-img-vertical img,
.ee-portfolio-img-vertical-offset img {
  position: relative;
  transform: translateY(-20%);
}

/* 4e SKILLS */
.progress {
  margin-bottom: 10px;
  background-color: #F2EFEA;
}

.progress-bar {
  text-align: left;
  background-color: #F75940;
}

.progress-95 {
  width: 95%;
}

.progress-90 {
  width: 90%;
}

.progress-75 {
  width: 75%;
}

.progress-65 {
  width: 65%;
}

.progress-45 {
  width: 45%;
}

.skill-label {
  padding-left: 10px;
  font-family: "Source Code Pro", Courier, monospace;
  color: #FFFFFF;
}

/* 4f EXPERIENCE */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  font-size: 14px;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #F2EFEA;
  left: 40px;
  margin-left: -1.5px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-section {
  width: calc(100% - 90px);
  width: -moz-calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  float: right;
  border: 1px solid #F2EFEA;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px #F2EFEA;
  -moz-box-shadow: 0 1px 6px #F2EFEA;
  box-shadow: 0 1px 6px #F2EFEA;
}

.timeline>li>.timeline-section:before {
  position: absolute;
  top: 25px;
  border-left: 0px solid #F2EFEA;
  border-right: 15px solid #F2EFEA;
  left: -15px;
  right: auto;
  display: inline-block;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  content: " ";
}

.timeline>li>.timeline-section:after {
  position: absolute;
  top: 27px;
  border-left: 0px solid #FFF;
  border-right: 14px solid #FFF;
  left: -14px;
  right: auto;
  display: inline-block;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline>li>.timeline-icon {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  left: 15px;
  margin-left: 0;
  top: 16px;
  background-color: #3CC6BD;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-section {
  float: right;
}

.timeline>li.timeline-inverted>.timeline-section:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline>li.timeline-inverted>.timeline-section:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
  margin-bottom: 0;
}

.timeline-body>p+p {
  margin-top: 5px;
}

/* * * * * * * * * * * * * * * * * * */
/* * * * * 05. PROJECT PAGES * * * * */
/* * * * * * * * * * * * * * * * * * */
.project-description {
  max-height: initial;
}

/* * * * * * * * * * * * * * * * * * * * */
/* * * * * 06. MEDIA BREAKPOINTS * * * * */
/* * * * * * * * * * * * * * * * * * * * */
/* 6a Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .fill-80 {
    min-height: 80vh;
  }

  .fill-20 {
    min-height: 19vh;
  }

  .xl-heading {
    font-size: 3.6rem;
  }

  .navbar-brand img {
    max-height: 70px;
  }

  .ee-logo {
    width: 150px;
    height: 150px;
  }

  .social-icons {
    margin: 1rem 0 6rem;
  }

  .carousel-inner {
    padding: 0 4rem;
  }

  .grid-sizer,
  .grid-item {
    width: 50%;
  }

  .portfolio-img {
    max-height: initial;
  }

  .portfolio-img img {
    opacity: 0.1;
  }

  .portfolio-img h2 {
    background-color: initial;
    width: initial;
  }

  .ee-portfolio-img-square img {
    position: relative;
    transform: translateY(-15%);
  }

  .ee-portfolio-img-vertical img {
    position: relative;
    transform: translateY(-30%);
  }

  .ee-portfolio-img-vertical-offset img {
    position: relative;
    transform: translateY(-50%);
  }

  .ee-portfolio-img-vertical img,
  .ee-portfolio-img-vertical-offset img,
  .ee-portfolio-img-square img {
    position: initial;
    top: initial;
    transform: initial;
  }
}

/* 6b Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html, body {
    font-size: 15px;
  }

  .container {
    max-width: 100%;
  }

  .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #242B33;
    border-bottom: 1px solid #3CC6BD;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-collapse {
    border-right: 0;
  }

  .portfolio-img img {
    opacity: 1;
  }

  .portfolio-img h2 {
    display: none;
  }

  .grid-sizer,
  .grid-item {
    width: 33.3333333333333333%;
  }
}

/* 6c Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html, body {
    font-size: 16px;
  }

  .container {
    max-width: 100%;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .about-section {
    text-align: left;
  }

  .timeline:before {
    left: 50%;
  }

  .timeline>li>.timeline-section {
    width: 46%;
    float: left;
  }

  .timeline>li>.timeline-icon {
    left: 50%;
    margin-left: -25px;
  }

  .timeline>li>.timeline-section:before {
    border-left: 16px solid #F2EFEA;
    border-right: 0px solid #F2EFEA;
    right: -16px;
    left: initial;
  }

  .timeline>li>.timeline-section:after {
    right: -14px;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    left: initial;
  }

  .project-description {
    max-height: 350px;
  }
}

/* 6d Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html, body {
    font-size: 17px;
  }

  .container {
    max-width: 1200px;
  }

  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
